<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SIEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RUUDJAH\SQLEXPRESS;Initial Catalog=SettleIn;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SettleInEntities" connectionString="metadata=res://*/SettleInModel.csdl|res://*/SettleInModel.ssdl|res://*/SettleInModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RUUD-PC\SQLEXPRESS;Initial Catalog=SettleIn;User ID=sa;Password=testing1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
